@font-face {
  font-family: "Roboto";
  src: url("../scss/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../scss/fonts/quicksand.ttf");
}

@font-face {
  font-family: "Yantramanav";
  src: url("../scss/fonts/Yantramanav-Thin.ttf");
}

$bold-font: "Roboto";
$light-font: "Quicksand";
$thin-font: "Yantramanav";