@import "../utils/shadows";
@import "../utils/fonts";

.book-page {
    max-width: 100vw;
    min-height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .form {
        width: 50%;
        background-color: rgba(241, 241, 241, 0.685);
        padding: 1em;
        border-radius: 10px;
        @include underShadow;

        h1 {
            font-family: $bold-font;
        }

        &__price {
            margin: 1em 0;
            display: grid;
            grid-template-columns: 1fr 1fr;

            div{
                width: 15em;
                margin: 0 auto;

                p {
                    display: flex;
                    justify-content: space-between;
                    font-family: $light-font;

                    input {
                        width: 3em;
                    }
                }
            }
        }

        .buttons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a, button {
                width: 50%;
                height: 10%;
                border: none;
                margin: 1em;
                padding: .3em .8em;
                font-size: 15pt;
                font-family: $light-font;
                font-weight: bolder;
                text-align: center;
                text-decoration: none;
                color: white;
                border-radius: 10px;
                transition: 1s;
                cursor: pointer;

                &:hover {
                    filter: grayscale(1) brightness(.5);
                    transform: scale(1.1);
                }
            }

            a {
                background-color: rgb(185, 185, 185);
            }

            button {
                background-color: $cherry-red;
            }
        }
    }

    
}