@import "../utils/fonts";
@import "../utils/shadows";
@import "../utils/colors";

.container_manage_rooms {
  max-width: 100vw;
  min-height: 100vw;
  padding: 5em;
  margin: 0 auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: $bold-font;
      font-size: 50pt;
      margin-bottom: .5em;
    }

    a {
      text-decoration: none;
      background-color: $cherry-red;
      font-family: $light-font;
      font-weight: bold;
      padding: .8em;
      color: white;
      border-radius: 2rem;
      transition: .5s;

      &:hover {
        background-color: $dark-gray;
        @include underShadow;
      }
    }
  }


  .all-rooms {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin: 0 auto;

    .row {
      margin: 1em;
      width: 30%;
      background-color: lightgray;
      border-radius: 10px;
      @include underShadow;
  
      a {
        text-decoration: none;
  
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          transition: .5s;
  
          &:hover {
            filter: saturate(0) brightness(.3);
            scale: (1.01);
            border-radius: 10px;
          }
  
        }
      }
  
      h4 {
        padding: .5em;
        text-align: center;
        font-family: $light-font;
      }
  
    }
  }
}